<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VitalFarm</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/boletaExtendida.css') }}">
    <script src="{{ url_for('static', filename='jsPDF/jspdf.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/boletaExtendida.js') }}"></script>
</head>

<body>
    <header>
        <div class="logo">
            <h1>VitalFarm</h1>
        </div>
        <nav>
            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Medicamentos</a></li>
                <li><a href="">Nueva Boleta</a></li>
                <li><a href="">Historial</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="btn-group">

            <button class="download-button" id="btnGenerarPDF">Descargar</button>
        </div>



        <div class="boleta" id="boletaPDF">
            <div class="titulo">
                <h1>VitalFarm</h1>
                <div>
                    <p>Fecha: {{boletaC.1}}</p>
                    <p>DNI: {{boletaC.2}}</p>
                    <p>Cliente: {{boletaC.3}}</p>
                </div>
                <div class="ruc">
                    <p>R.U.C. 16516</p>
                    <p>Boleta de Venta</p>
                    <p>{{boletaC.0}}</p>
                </div>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for det in boletaD %}
                    <tr>
                        <td>{{det[0]}}</td>
                        <td>{{det[1]}}</td>
                        <td>{{det[2]}}</td>
                        <td>{{det[3]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <br>
            <div class="sumtotal">
                <div class="titulo">
                    <h1></h1>
                    <div class="opGravadas">
                        <p>IGV = {{boletaC.5}}</p>
                        <hr>
                        <p>Total = {{boletaC.4}}</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>