<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>VitalFarm</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/historial.css') }}">
</head>

<body>
	<header>
		<div class="logo">
			<h1>VitalFarm</h1>
		</div>
		<nav>
			<ul>
				<li><a href="{{ url_for('menu', id=sucursal[0]) }}">Inicio</a></li>
				<li><a href="{{ url_for('medicamentos', id=sucursal[0]) }}">Medicamentos</a></li>
				<li><a href="{{ url_for('nuevaBoleta', id=sucursal[0]) }}">Nueva Boleta</a></li>
				<li><a href="{{ url_for('historial', id=sucursal[0]) }}">Historial</a></li>
			</ul>
		</nav>
	</header>
	<main>

		<table>
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Fecha</th>
					<th>DNI</th>
					<th>Cliente</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				{% for fact in facturas %}
				<tr>
					<td>{{ fact[0] }}</td>
					<td>{{ fact[1] }}</td>
					<td>{{ fact[2] }}</td>
					<td>{{ fact[3] }}</td>
					<td>{{ fact[4] }}</td>
					<td><button class="ver" id="ver-1"><a
								href="{{ url_for('boletaExtendida', id_boleta=fact[0]) }}">Ver</a></button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
</body>

</html>