<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>VitalFarm</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/inicio.css') }}">
</head>

<body>
	<header>
		<h1>VitalFarm</h1>
		<nav>
			<ul>
				<li><a href="{{ url_for('menu', id=sucursal[0]) }}">Inicio</a></li>
				<li><a href="{{ url_for('medicamentos', id=sucursal[0]) }}">Medicamentos</a></li>
				<li><a href="">Nueva Boleta</a></li>
				<li><a href="{{ url_for('historial', id=sucursal[0]) }}">Historial</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section>
			<h2>Medicamentos</h2>
			<p>Aquí puedes ver la lista de los medicamentos disponibles.</p>
			<a href="{{ url_for('medicamentos', id=sucursal[0]) }}">Ingresar</a>
		</section>
		<section>
			<h2>Nueva Boleta</h2>
			<p>Aquí puedes crear una nueva boleta.</p>
			<a href="{{ url_for('nuevaBoleta', id=sucursal[0]) }}">Ingresar</a>
		</section>
		<section>
			<h2>Historial</h2>
			<p>Aquí puedes ver el historial de tus compras.</p>
			<a href="{{ url_for('historial', id=sucursal[0]) }}">Ingresar</a>
		</section>
	</main>
</body>



<script>
	document.querySelector('form').addEventListener('submit', (event) => {
		event.preventDefault();
		fetch('/sucursal/{{ id }}/nuevaBoleta', {
			method: 'POST',
			body: new FormData(document.querySelector('form'))
		})
			.then(response => response.text())
			.then(responseText => console.log(responseText))
			.catch(error => console.error(error));
	});
</script>

</html>