<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>VitalFarm</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/medicamentos.css') }}">
</head>

<body>
	<header>
		<div class="logo">
			<h1>VitalFarm</h1>
		</div>
		<nav>
			<ul>
				<li><a href="">Inicio</a></li>
				<li><a href="">Medicamentos</a></li>
				<li><a href="">Nueva Boleta</a></li>
				<li><a href="">Historial</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="search">
			<form>
				<input type="text" placeholder="Buscar...">
				<button type="submit">Buscar</button>
			</form>
		</div><br>
		<table>
			<thead>
				<tr>
					<th>Codigo</th>
					<th>Descripcion</th>
					<th>Controlado</th>
					<th>Stock</th>
					<th>Precio Unit.</th>
				</tr>
			</thead>
			<tbody>
				{% for medi in medicamentos %}
				<tr>
					<td>{{ medi[0] }}</td>
					<td>{{ medi[1] }}</td>
					<td class="checkbox-custom">
						<input type="checkbox" id="{{ medi[0] }}" name="{{ medi[0] }}" {% if medi[2]==1 %} checked {%
							endif %} disabled>
						<label for="{{ medi[0] }}"></label>
					</td>

					<td>{{ medi[4] }}</td>
					<td>{{ medi[3] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
</body>

</html>