<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>VitalFarm</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/nuevaboleta.css') }}">
</head>

<body>
	<header>
		<h1>VitalFarm</h1>
		<nav>
			<ul>
				<li><a href="{{ url_for('menu', id=sucursal[0]) }}">Inicio</a></li>
				<li><a href="{{ url_for('medicamentos', id=sucursal[0]) }}">Medicamentos</a></li>
				<li><a href="{{ url_for('nuevaBoleta', id=sucursal[0]) }}">Nueva Boleta</a></li>
				<li><a href="{{ url_for('historial', id=sucursal[0]) }}">Historial</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section class="header-section">
			<h2>Nueva Boleta</h2>
			<div class="btn-group">
				<button><a href="">Agregar Producto</a></button>
				<button><a href="">Guardar</a></button>
				<button><a href="">Cancelar</a></button>
			</div>
		</section>
		<section class="form-section">
			<form method="POST">
				<div>
					<label for="cliente">Cliente:</label>
					<input type="text" id="cliente" name="cliente" placeholder="Ingrese el nombre del cliente...">
				</div>
				<div>
					<label for="fecha">Fecha:</label>
					<input type="date" id="fecha" name="fecha" required>
					<label for="dni">DNI:</label>
					<input type="text" id="dni" name="dni" placeholder="Ingrese el DNI..." required>
				</div>
				<button type="submit">Guardar</button>
			</form>

		</section>
	</main>
</body>

</html>