<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>VitalFarm</title>
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/sedeInicio.css') }}">
</head>


<body>
	<header>
		<h1>VitalFarm</h1>
	</header>
	<main>
		<div class="table-container">
			<table>
				<thead>
					<tr>
						<th>Sede</th>
						<th>Acceso</th>
					</tr>
				</thead>
				<tbody>
					{% for sucursal in sucursales %}
					<tr>
						<td>
							{{ sucursal[1] }}
						</td>
						<td>
							<a href="{{ url_for('menu', id=sucursal[0]) }}">Ingresar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</main>
</body>

</html>